{% extends 'base.html' %}
{% block contenido %}
        <h2>Listado de departamentos</h2>
        {% if departamentos %}
            <ul>
                {% for departamento in departamentos %}
                	<li>
                        <a href="{% url 'departamentos_show' departamento.id %}">{{ departamento.nombre }}</a>
                        <a href="{% url 'departamentos_update' departamento.id %}">Actualizar</a>
                        <form method="POST" action="{% url "departamentos_delete" departamento.id%}">
                            {% csrf_token %}
                            <input type="submit" value="Eliminar">
                        </form>

                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay departamentos creados.</p>
        {% endif %}
{% endblock %}