
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Detalle del departamento</title>
</head>
<body>
    <div id="content">
        <h1>Gestor de Empleados</h1>
        <h2>Detalle del departamento</h2>
        {% if departamento %}
            <ul>
                <li>{{ departamento.nombre }}</li>
                <li>{{ departamento.telefono }}</li>
                <li>
                    <a href="{% url 'empleados_index' departamento.id %}">Ver empleados</a>
                </li>
            </ul>
        {% else %}
            <p>No existe este departamento.</p>
        {% endif %}
    </div>
</body>
</html>