<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block titulo %}Gestor de Empleados{% endblock %}</title>
</head>
<body>
    <div id="content">
        <h1>Gestor de empleados</h1>
        <h2>Menu</h2>
        <ul>
            <li><a href="/appEmpresaDjango/departamentos">Lista de departamentos</a></li>
            <li><a href="{% url 'departamento_create' %}">Crear departamento</a></li>
            <li><a href="{% url 'empleado_create' %}">Crear empleado</a></li>
        </ul>
        {% block contenido %}{% endblock %}
    </div>

</body>
</html>